.button {
  background-color: #6d7dd9;
  width: auto;
  height: 45px;
  border-radius: 8px;
  border: none;
  border: 1px solid black;
}

.header {
  background-color: #373c41;
  margin: 0;
  padding: 20px;
}
.button1 {
  background-color: #2f2877;
  color: white;

  margin: 30px;
  width: 200px;
}

.start {
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.voting {
  color: white;
  margin: 10%;
  border: 1px solid white;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(45deg, #100421, transparent);
}

.li {
  display: flex;
  font-style: none;
  flex-direction: row;
}
